/*****hasis*****/ 
/* #hasis(e2d79a3ca0c8814a) #css starts  */
.headere2d79a3ca0c8814a .head{ 
    color: #7B33FD;
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .active>.nav-link{
    color: #33363D
}
.headere2d79a3ca0c8814a .navbar-light .navbar-nav .nav-link {
    color: #33363D
}
.headere2d79a3ca0c8814a .button{
    border-radius: 0px;
    background-color: #7B33FD;
    color: #fff
}
/* #hasis(e2d79a3ca0c8814a) #css ends  */
/*****hasis*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369  .jumbotron {
    background-color: #fff
}
.aboutp3dce575962b3c369 .DescriptionHeading {
    font-size: 40px;
    color: #33363D
}
    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #33363D;
        font-size: 18px
    }
    
    .aboutp3dce575962b3c369 .badge{
        display: none
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#7B33FD;
        border-radius: 0px
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****single*****/
/* #single(eb6af6ab30a03fde) #css starts  */
.serviceeb6af6ab30a03fde {
    background: #fff
}
.serviceeb6af6ab30a03fde .box {
    padding: 0px 0px
}
.serviceeb6af6ab30a03fde .fa{
 color: #33363D
}
.serviceeb6af6ab30a03fde .text {
    margin: 0px 0px;
}
.serviceeb6af6ab30a03fde h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px
}
/* #single(eb6af6ab30a03fde) #css ends  */
/*****single*****/

/*****florence*****/
/* #florence(florencepo6oslbpdcb) #css starts */
.florencepo6oslbpdcb .fdb-block {
    padding: 2.5rem 0
 }
 .florencepo6oslbpdcb a {
    color: #33363D;
    font-weight: 600
 }
 .florencepo6oslbpdcb a:hover {
    color: #7B33FD
 }
 .florencepo6oslbpdcb .fdb-block img + p{
    margin-top: 10px
 }
/* #florence(florencepo6oslbpdcb) #css starts */
/*****florence*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
 .aboutd390a380620aac0e{
    padding: 2.5rem 0
 }
 .aboutd390a380620aac0e .video_card::before {
    background-color: #7B33FD
}
.aboutd390a380620aac0e .video_card>.btn:active {
    color: #7B33FD
}
.aboutd390a380620aac0e .video_card>.btn {
    color: #7B33FD
}
.aboutd390a380620aac0e .font-weight-bold {
    font-weight: 500!important
}
.aboutd390a380620aac0e .video_card::before {
    background-color: #828BB2
}
.aboutd390a380620aac0e .video_card>.btn:active{
    color: #fff;
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****safar*****/
    /* #safar(cda4f61d9a1b5853) #css starts  */
    .servicecda4f61d9a1b5853{
        padding: 2.5rem 0;
    }
    /* #safar(cda4f61d9a1b5853) #css ends  */
/*****safar*****/

/*****tanvi*****/
    /* #tanvi(testimonialtmq7s80wxl3) #css starts  */
    .testimonialtmq7s80wxl3 .fdb-block {
        padding: 2.5rem 0
       }
      
      .testimonialtmq7s80wxl3 h1 {
        font-size: 32px
      }
      .testimonialtmq7s80wxl3 .lead {
        font-size: 20px
    }
    /* #tanvi(testimonialtmq7s80wxl3) #css ends  */
/*****tanvi*****/

/*****francesca*****/
/* #francesca(formfeml7xrw329) #css starts */
.formfeml7xrw329 {
    padding: 2.5rem 0
}
.formfeml7xrw329 .btn-secondary{
    background-color: #7B33FD;
    border: #7B33FD
}
.formfeml7xrw329 h1{
    font-size: 32px
}
/* #francesca(formfeml7xrw329) #css starts */
/*****francesca*****/

/*****fond*****/
    /* #fond(fondt37qz6qr2q) #css starts */
    .fondt37qz6qr2q a{
        color: #7B33FD
       }
       .fondt37qz6qr2q a:hover{
        color: #7B33FD
       }
    /* #fond(fondt37qz6qr2q) #css ends */
/*****fond*****/